
body
{
	text-align:center;
	color: #ffffff;
	background-image: linear-gradient(black 20%, #464444 50%, #000000 80%);
	background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

.textSize
{
	width: 35%;
	line-height: 30px;
    font-family: 'Roboto', sans-serif;
}

.submitSize
{
    background-color: #ffffff;
    border: none;
    color: #000000;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;

	/*height: 40px;*/
	/*width: 100px;*/

}

.bold
{
	font-weight: bold;
}

.submit_box {
    border-radius: 6px;
    background-color: #605f5f;
    display: inline-block;
    margin: 80px 10px;
    font-family: 'Roboto', sans-serif;
    width: 400px;
    height: 500px;
}


.login_box {
    border-radius: 6px;
    background-color: #605f5f;
    display: inline-block;
    margin: 80px 10px;
    font-family: 'Roboto', sans-serif;
    width: 400px;
    height: 500px;
}

.box
{
    background-color: #605f5f;
    border-radius: 6px;
	display: inline-block;
	padding: 75px;
    font-family: 'Roboto', sans-serif;
}

.button {
    background-color: #ffffff;
    border: none;
    color: #000000;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;


}

footer
{
	position: absolute;
	bottom: 0;
    font-family: 'Roboto', sans-serif;

}

nav {
	/*background-color: #000000;*/
    width: 80%;
    margin: auto;
    letter-spacing: 0.1em;
    text-align: center;
    display: block;
    font-size: 1.5em;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;}
nav ul
	{list-style-type: none;
    margin: 0;}
nav li
	{display: inline-block;
    padding: 0.5em;}
nav a
	{text-decoration: none;
    display: block;}

nav ul ul
	{position: absolute;
    /*background-color: #000000;*/
	/*background-image: linear-gradient(black, grey, black);*/

    padding: 0;
    text-align: left;
    display: none;}
nav ul ul li
	{border: 1px solid #00005D;
    display: block;
    width: 8em;
    padding-left: 1em;
    margin-left: 0;}
nav li:hover ul
	{display: block;}
nav a:link
	{color: #ffffff;}
nav a:visited
	{color: #eaeaea;}
nav a:hover
	{color: #87cefa;}