<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<head>
<title>Quote Page</title>

<style>

body
{
	text-align: center;
    font-family: 'Roboto', sans-serif;

}

table
{
	width: 75%;
	margin-left: auto;
	margin-right: auto;	
	border: 1px solid black;
}

td 
{
  padding: 15px;
  width: 15%;
}

img
{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
br {
   display: block;
   margin: 10px 0;
}

</style>
</head>

<body>

<nav>
<ul>
	<li class = "bold"> <a href="/">The Bionic Collaborative</a> </li>
	<li><a href{#    	<ul>#}
{#        </ul>#}="/login">Login</a></li>

    </li>
        	<li><a href="{{ url_for('upload') }}">Submit a quote</a></li>
        	<li><a href="{{ url_for('generate_quote') }}">Generate quote</a></li>
	<!-- <li>Preferences</li> --> 
	<!-- ^^ temporarily disabled -->
</ul>
</nav>


<!--Form for quote submission and two-way data binding-->
<form action="{{ url_for('generate_quote') }}" method="post">
	<!-- <table> -->
	<!-- <div class="box"> -->
	<h2 label for="quote">Enter word sequence:</h2>		
	<input class = "textSize" type="text" name="quote1"  placeholder="Enter some words...">
	<button class="button" type="submit">New Quote</button>
	<br>
	<br>
	<div class="box">
		<label for="quote_received">{{quote_a}}</label>
		<br>
	</div>
	<!-- </table> -->

</body>
</html>
