<!DOCTYPE html>
<html>
<head>
<title>The Bionic Collaborative</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
<nav>
<ul>
	<li class = "bold"> <a href="/">The Bionic Collaborative</a> </li>
	<li><a href="/login">Login</a></li>
    </li>
        	<li><a href="{{ url_for('upload') }}">Submit a quote</a></li>
        	<li><a href="{{ url_for('generate_quote') }}">Generate quote</a></li>
	<!-- <li>Preferences</li> --> 
	<!-- ^^ temporarily disabled -->	
</ul>
</nav>
<br>
<h1 class="bold">The Bionic Collaborative</h1>
<br>
<h2>A collaborative project combining human and artificial intelligence</h2>
<br>
<input class = "textSize" type= "text" placeholder="Search for a quote...">
<button class="button"> Submit </button>
<br>
<br>


	<br>
	<br>
	{% if rand_quotes is defined %}
	{% for key, value in rand_quotes.items() %}
	<div class="box">
			<p> {{ key }} </p>
			<p> - {{ value }} </p>
	</div>
	<br>
	<br>
	{% endfor %}
	{% endif %}

	
	<!-- <br>
	<br>
	{% if feedquote is defined %}
	{% for key, value in rand_quotes.items() %}
	<div class="box">
		<p> {{ key }} </p>
	</div>
	{% endfor %}
	{% endif %} -->
			
{#<footer>Project created by: Kristoffer Hendricks, Matteo Kitic, Robert Sima, Constance Yang</footer>#}

</body>
</html>