<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<title>Login</title>

</head>

<body>

<nav>
<ul>
	<li class = "bold"> <a href="/">The Bionic Collaborative</a> </li>
	<li><a href="/login">Login</a></li>

    </li>
        	<li><a href="{{ url_for('upload') }}">Submit a quote</a></li>
        	<li><a href="{{ url_for('generate_quote') }}">Generate quote</a></li>
	<!-- <li>Preferences</li> --> 
	<!-- ^^ temporarily disabled -->  
</ul>

</nav>

<div class="login_box">
	<div class="jumbotron">
        <h1 class="display-4">Log in</h1>
{#        <hr class="my-4"> commented out to ignore line#}
        {% if smessage %}
          <div class="alert alert-success">
            {{ smessage }}
          </div>
        {% endif %}
        {% if umessage %}
          <div class="alert alert-danger">
            {{ umessage }}
          </div>
        {% endif %}
        <form action="/login" method="post">
            <div class="form-group">
              <div class= "alignLeft">
            <label for="exampleInputEmail1">Email: </label>
            </div>
            <br>
            <input type="email" class="submitTextSize" name="name"  placeholder="Enter email">
            <br>
            <br>
            </div>
            <div class="form-group">
            <div class= "alignLeft">
            <label for="exampleInputPassword1">Password: </label>
            </div>
            <br>
            <input type="password" class="submitTextSize" name="password" placeholder="Password">
            <!-- <input type="password" class="form-control" name="password" placeholder="Password"> -->
            </div>
            <br>
            <button class="button" type="submit" name="submit" class="btn btn-primary">Submit</button>
        </form>
        <br>
        <!-- <div class="row"> -->
          <!-- <div class="col-sm"> -->
<!-- {#            <a href="/forgot_password" class="text-decoration-none">Forgot Password</a> need to implement functionality for forgot password#}
          </div>
          <div class="col-sm"> -->
            <a href="/signup" class="text-decoration-none">Create Account</a>
          <!-- </div> -->
        <!-- </div> -->
    </div>
</div>

</body>
</html>