<!DOCTYPE html>
<html>

<head>
<title>Sign Up Page</title>
<style>
table
{
	width: 75%;
}
td 
{
  padding: 15px;
  width: 15%;
}
</style>


</head>

<body>

<h1>Welcome! Sign up here:</h1>
<form>
<table>
<tr><td>First Name:</td><td> <input type="text"></td> </tr>
<tr><td>Last Name:</td><td> <input type="text"> </td> </tr>
<tr><td>Username:</td><td> <input type="text"> </td> </tr>

<tr><td>Email: </td><td> <input type="email"> </td> </tr>

<tr><td>Password:</td><td> <input type="password"> </td> </tr>
<tr><td>Re-type Password:</td><td> <input type="password"> </td> </tr>

<tr><td>Preferences: </td>
<td><input type="checkbox">Motivation for school</td>
<td><input type="checkbox">Motivation for work</td>
<td><input type="checkbox">Deep Thoughts (mental health) </td>
<td><input type="checkbox">Light Thoughts (comedic) </td>
<td>
Age Group:
<select id="age" name="age">
  <option value="young">9-14 years</option>
  <option value="teen">15-18 years</option>
  <option value="mid">19-30 years</option>
  <option value="adult">30+ years</option>
</select>

</td>
</tr>

<tr><td><input type="submit"> <button onclick="location.href='demo.html'" type="button">Go Back</button></td></tr>
</table>
</form>


</body>
</html>