<!DOCTYPE html>
<html>

<head>
<title>Inspirational Quote Website</title>
<link href = "styles.css" rel = "stylesheet">
</head>

<body>
<nav>
<ul>
	<li class = "bold">The Bionic Collaborative</li>
	<li>Sign in
    	<ul>
        	<li><a href = "other/demo_login.html">Login</a></li>
            <li><a href = "other/demo_signup.html">Sign Up!</a></li>
        </ul>
    </li>
	<li><a href="other/demo_upload_file.html">Submit a quote</a></li>
	<li><a href = "other/demo_quote.html">Generate quote</a></li>
	<li>Preferences</li>
</ul>
</nav>
<br>
<h1 class="bold">The Bionic Collaborative</h1>
<br>
<h2>A collaborative project combining human and artificial intelligence quotes</h2>
<br>
<input class = "textSize" type= "text" placeholder="Search for a quote..."> 
<input class = "submitSize" type="submit">
<br>
<br>

<div class="box">This is an example box A</div>
<div class="box">This is an example box B</div>
<div class="box">This is an example box C</div>

<footer>Project created by: Kristoffer Hendricks, Matteo Kitic, Robert Sima, Constance Yang</footer>

</body>
</html>