<!DOCTYPE html>
<html>

<head>
<title>Inspirational Quote Website</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
<nav>
<ul>
	<li class = "bold">The Bionic Collaborative</li>
	<li>Sign in
    	<ul>
        	<li><a href="/demo_login">Login</a></li>
        	<li><a href="/demo_signup">Sign up</a></li>
        </ul>
    </li>
        	<li><a href="{{ url_for('demo_upload') }}">Submit a quote</a></li>
        	<li><a href="{{ url_for('demo_quote') }}">Generate quote</a></li>
	<li>Preferences</li>
</ul>
</nav>
<br>
<h1 class="bold">The Bionic Collaborative</h1>
<br>
<h2>A collaborative project combining human and artificial intelligence quotes</h2>
<br>
<input class = "textSize" type= "text" placeholder="Search for a quote..."> 
<input class = "submitSize" type="submit">
<br>
<br>

<div class="box">This is an example box A, quote will be here</div>
<div class="box">This is an example box B, quote will be here</div>
<div class="box">This is an example box C, quote will be here</div>

<footer>Project created by: Kristoffer Hendricks, Matteo Kitic, Robert Sima, Constance Yang</footer>

</body>
</html>