<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<head>
<title>Upload Quote</title>
</head>

<body>
<nav>
<ul>
	<li class = "bold"> <a href="/">The Bionic Collaborative</a> </li>
	<li><a href="/login">Login</a></li>
    </li>
        	<li><a href="{{ url_for('upload') }}">Submit a quote</a></li>
        	<li><a href="{{ url_for('generate_quote') }}">Generate quote</a></li>
	<li>Preferences</li>
</ul>
</nav>

<div class="submit_box">

<h1>Fill Out the Form Below!</h1>

<form>
  <label for="quote"><h3>Quote:</h3></label>
  <textarea rows="4" cols="50">Inspire someone!</textarea><br>
{#  ------------------------------------------------------------Disabled for now ------------------------------------------------------------------#}
{#  <h3>Select all that apply:</h3>#}
{#  <input type="checkbox" id="ex1" name="age" value="ages">#}
{#  <label for="ex1"> Friendly for all ages</label><br>#}
{#  <input type="checkbox" id="ex2" name="purpose" value="motive">#}
{#  <label for="ex2"> Motivational, for tough times</label><br>#}
{#  <input type="checkbox" id="ex3" name="famous" value="famous">#}
{#  <label for="ex3"> Quote by a famous person</label>#}
  
{#	<h3>Image (optional):</h3>#}
{#  <input type="file" class="button" id="image" name="inputImage"><br>#}
{#  <br>#}
    <br>
    <br>

  <input type ="submit" class="button" >
{#  <button class="button" onclick="location.href='home.html'" type="button">Go Back</button> #}
{#  ----------------------------------------------------------- ------------------------------------------------------------------#}

</form>
</div>

</body>
</html>