<!DOCTYPE html>
<html>

<head>
<title>Login</title>
<style>
body
{
	font-family: Helvetica, sans-serif;
	text-align: center;
	color: #ffffff;
	background-color: #000000;
}
table
{
	width:50%;
	margin-left: auto;
	margin-right: auto;	
	border: 1px solid black;
	background-color: #000000;
}

td 
{
  padding: 15px;
  width: 15%;
}

</style>
</head>

<body>
<h1>Welcome back! Login here:</h1>
<form>
<table>
<tr><td>Username: <input type="text">
</td>
</tr>
<tr>
<td>
Password: <input type="password"> </td> </tr>

<tr><td><input type="checkbox">Remember my password</td></tr>

<tr><td>
<input type="submit"> 
<button onclick="location.href='../demo.html'" type="button">Go Back</button>
</td></tr>

</table>
</form>

</body>
</html>